body {
  margin: 0;
}

.header {
  width: 100%;
}
.contentCard {
  width: 30.7%;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.container::after {
    content: "";
    clear: both;
    display: block;
}
.addNewPhotoCont {
  padding: 10px;
}

.fieldsCont {
  padding: 40px;
}

@media only screen and (max-width: 480px) {
	.contentCard {
    width: 90%;
    margin-top: 30px;
  }
}
